body{
    margin: 0;
}
.top{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
    background-color: gray;
    background-size: cover;
    height: 10em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top a h1{
    margin : 0;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.blogs,.updates{
    border: 2pt solid black;
}

@media only screen and (max-width: 768px){
    .top{
        margin-bottom: 1em;
    }
    .container{
        display: inline;
    }
    .blogs,.updates{
        margin: 2vw;
    }
}